<div class="container-fluid"
  style="height:100%; background-image:url('./assets/images/house-bkg-01.jpg');
    background-size:cover; opacity: 0.85;">
  <div class="container" style="text-align: center;" id="home_search_container">
    <h1 style="color: #EEE; font-size: 12em; line-height: 60%;">Hestia</h1>
    <h1 style="color: #EEE; font-size: 2em; padding-left: 275px;">Belfast</h1>
    <div class="container" style="text-align: center;"
      style="background:rgba(255, 255, 255, 0.7);">
      <div class="col-sm-12">
        <searchbar></searchbar>
      </div>
    </div>
  </div>
</div>
